@import url('https://fonts.google.com/specimen/Montserrat&font-weight=700, 500');
@import url('https://fonts.google.com/specimen/Fraunces&font-weight=700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: hsl(30, 38%, 92%);
    font-family: 'Montserrat', 'Fraunces', sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

#main {
    width: 50%;
    height: 30%;
    background: hsl(0, 0%, 100%);
    margin: 100px auto;
    line-height: 32px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#section1 {
    width: 100%;
    background: url("./images/image-product-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
}

#section2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.2rem;
    padding: 2rem;

}

h1 {
    font-family: 'Monserrat';
    font-weight: light;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    letter-spacing: 4px;
}
h2{
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Fraunces';
    line-height: 2rem;
}
.main-text {
    font-size: 14px;
    line-height: 25px;
    word-spacing: 2px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
}
.price {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.price p{
    color: hsl(158, 36%, 37%);
    font-size: 30px;
    font-weight: 700;
    font-family: 'Fraunces', sans-serif;
    
}
.price span{
    font-style: italic;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    background: hsl(158, 36%, 37%);
    border: 1px solid hsl(158, 36%, 37%);
    padding: 15px;
    cursor: pointer;
    letter-spacing: 1px;
}

button:hover {
    background: hsl(154, 26%, 24%);
    transition: ease-out 2s;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 15px;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

/* mobile design */

@media screen and (max-width: 475px) {
    #main {
        display: grid;
        grid-template-rows: repeat(2, 200px);
    }
    #section1 {
        background: url(./images/icon-cart.svg);
    }
}